.c_org {
    cursor: pointer;
    position: relative;
    display: flex;
    margin: 20px;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.c_org2 {
    margin: 20px;
    height: 300px;
    width: 400px;
}